@model IEnumerable<ManagementStocks.Core.Entities.Stock>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>


<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["OperationTimeSortParm"]">@Html.DisplayNameFor(model => model.OperationTime)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductNameSortParm"]">@Html.DisplayNameFor(model => model.Product.Name)</a>
            
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]">@Html.DisplayNameFor(model => model.Price)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["QttySortParm"]">@Html.DisplayNameFor(model => model.Quantity)</a>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCredit)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OperationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.CheckBoxFor(modelItem => item.IsCredit)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
